<!DOCTYPE html>
<html>
  <head>
    <title>Article</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
        <a href="/landing" class="w3-bar-item w3-button w3-medium w3-indigo">Return to Main Page</a>

  <div class="container">
    <div class="card mt-5">
      <h5 class="card-header">Symptoms of Depression</h5>
      <div class="card-body">
        <div class="row mt-2">
          <div class="col-md-3 img">
            <img src="https://image.flaticon.com/icons/svg/236/236832.svg" height="180" width="180" class="img-rounded float-right">
          </div>
          <div class="col-md-9 details">
            <blockquote>
              <h5>Author: Dr. Edwin Cheung</h5>
              <small><cite title="Source Title">Hong Kong<i class="icon-map-marker"></i></cite></small>
            </blockquote>
            <p>
              Posted on: 1hr ago <br>
              Medical License Number: MNL09-F1SK5 <br>
              Email: edwincheung37@gmail.com <br>
              <a href="#" class="mt-1 btn btn-primary">Message</a>
            </p>
          </div>
        </div>
      <hr />
        <div class="card-text">
          Most of us feel sad, lonely, or depressed at times. It's a normal reaction to loss, life's struggles, or injured self-esteem. But when these feelings become overwhelming, cause physical symptoms, and last for long periods of time, they can keep you from leading a normal, active life.
          <br>
          That's when it's time to seek medical help.
          <br><br>

          <b>Symptoms: </b>
          <ul>
            <li>Trouble concentrating, remembering details, and making decisions</li>
            <li>Fatigue</li>
            <li>Feelings of guilt, worthlessness, and helplessness</li>
            <li>Pessimism and hopelessness</li>
            <li>Insomnia, early-morning wakefulness, or sleeping too much</li>
            <li>Irritability</li>
            <li>Restlessness</li>
            <li>Loss of interest in things once pleasurable, including sex</li>
            <li>Overeating, or appetite loss</li>
            <li>Aches, pains, headaches, or cramps that won't go away</li>
            <li>Digestive problems that don't get better, even with treatment</li>
            <li>Persistent sad, anxious, or "empty" feelings</li>
            <li>Suicidal thoughts or attempts</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
