<head>
    <title>forum page</title>
    <script
    src="https://code.jquery.com/jquery-1.12.4.js"
    integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous"></script>
    <script src = "js/main.js" type="text/javascript"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <!--Homepage header-->
  <header class="w3-panel w3-center w3-opacity" style="padding:50px 16px">
  <h1 style="padding-bottom: 20px">WELCOME TO THE FORUM</h1>
  <h2 class="w3-xlarge"  style="padding-bottom: 70px">Platform to discuss your issues anonymously or otherwise!</h1>
    <a href="#" class="w3-bar-item w3-button w3-medium w3-teal">Post Anonymously</a>
    <a href="/landing" class="w3-bar-item w3-button w3-medium w3-indigo">Return to Main Page</a>
    <ul>
    <li>
    <div class="w3-card w3-red">
        
        <h3>I suffer from depression, I need advice!</h3>
        <p>Solution</p>
    </div>
    </li>

        <li>
        <div class="w3-card w3-yellow">
                <h3>Best methods to control alcohol addiction.</h3>
        <p>Solution</p>
              </div>
        </li>


        <li>
              <div class="w3-card w3-green">
                    <h3>Useful helplines incase of mental health issues.</h3>
                    <p>Solution</p>
              </div>
        </li>

     </ul>
     
      