<head>
  <title>landing page</title>
  <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src = "js/main.js" type="text/javascript"></script>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--Homepage header-->
<header class="w3-panel w3-center w3-opacity" style="padding:50px 16px">
<h1 style="padding-bottom: 20px">CONNECTING THE MENTAL HEALTH COMMUNITY</h1>
<h2 class="w3-xlarge"  style="padding-bottom: 70px">All in One stop to ASK, DISCUSS and CONNECT with the community focussed towards improving mental health. </h1>
<h3>I want to</h3>
<div class="w3-content" style="max-width:1500px">
      
  <div class="w3-padding-32" style="display:flex ; flex-direction: column;">
          
              <a href="#" class="w3-bar-item w3-button w3-xlarge w3-teal">Search</a>
              <a href="/forum" class="w3-bar-item w3-button w3-xlarge w3-indigo">Explore the forum to see what the community is discussing!</a>
              <a href="#" class="w3-bar-item w3-button w3-xlarge w3-red">Read articles from verified doctors and choose the best advice for you!</a>
              <a href="/displayMap" class="w3-bar-item w3-button w3-xlarge w3-green">I am an admin, I want to access the search trends!</a>
  </div>
</div>
</header>