
<header>Mental issues trend in Hong Kong</header>
<script type="text/javascript" src="js/map.js"></script>
    <style type="text/css">
        #map{
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
    </style>
    <a href="/landing" class="w3-bar-item w3-button w3-medium w3-indigo">Return to Main Page</a>
<div id="map"></div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9ycAc86k8TvmIUE9Ojl0zbVfO-4OzqiM&callback=initMap">
    </script>